.modal-form {
    width: 40rem;
    background: url(../images/order-form-bg-mobile.jpg) no-repeat top center;
    background-size: cover;
    padding: 0;
    border-radius: 4rem;

    @media #{$sm} {
        width: 34.5rem;
    }

    h1, h2 {
        font-weight: 700;
        font-size: 6rem;
        line-height: 5rem;
        text-align: center;
        color: $color-secondary;
        text-shadow: 0 0.4rem 4rem rgba($color: #000, $alpha: 0.98);
        margin-bottom: 2.7rem;
    }

    form {
        display: flex;
        flex-direction: column;
        width: calc(100% - 6rem);
        padding-top: 20rem;
        margin: 3rem;

        @media #{$sm} {
            width: calc(100% - 3rem);
            margin: 1.5rem;
        }
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;

        input {
            font-size: 2rem;
            line-height: 5rem;
            height: 5rem;
            padding: 0 2rem;
        }

        .select {
            &::before {
                width: 1.1rem;
                height: 0.8rem;
                right: 2.2rem;
            }
        }

        .select2-selection {
            height: 5rem !important;
        }

        .select2-selection__rendered {
            font-size: 2rem !important;
            line-height: 5rem !important;
            padding: 0 2rem !important;
        }

        .select2-selection__placeholder {
            font-size: 2rem !important;
        }

        .select2.select2-container--open .select2-selection {
            border-radius: 2.5rem 2.5rem 0 0 !important;
        }
    }

    .button {
        width: 100%;
        font-size: 2rem;
        line-height: 5rem;
    }

    .f-button {
        width: 2.4rem;
        height: 2.4rem;
        background: url(../images/svg/modal-close-button.svg) no-repeat center;
        background-size: contain;
        top: 2.6rem !important;
        right: 2.6rem !important;

        svg {
            display: none;
        }
    }
}